<div class="row">
    <div class="col-4 d-grid mx-auto">
        <button 
            type="button" 
            class="btn btn-secondary"
            (click)="insertKey('1')"
        >1</button>
    </div>
    <div class="col-4 d-grid mx-auto">
        <button 
            type="button" 
            class="btn btn-secondary"
            (click)="insertKey('2')"
        >2</button>
    </div>
    <div class="col-4 d-grid mx-auto">
        <button 
            type="button" 
            class="btn btn-secondary"
            (click)="insertKey('3')"
        >3</button>
    </div>
</div>
<div class="row">
    <div class="col-4 d-grid mx-auto">
        <button 
            type="button" 
            class="btn btn-secondary"
            (click)="insertKey('4')"
        >4</button>
    </div>
    <div class="col-4 d-grid mx-auto">
        <button 
            type="button" 
            class="btn btn-secondary"
            (click)="insertKey('5')"
        >5</button>
    </div>
    <div class="col-4 d-grid mx-auto">
        <button 
            type="button" 
            class="btn btn-secondary"
            (click)="insertKey('6')"
        >6</button>
    </div>
</div>
<div class="row">
    <div class="col-4 d-grid mx-auto">
        <button 
            type="button" 
            class="btn btn-secondary"
            (click)="insertKey('7')"
        >7</button>
    </div>
    <div class="col-4 d-grid mx-auto">
        <button 
            type="button" 
            class="btn btn-secondary"
            (click)="insertKey('8')"
        >8</button>
    </div>
    <div class="col-4 d-grid mx-auto">
        <button 
            type="button" 
            class="btn btn-secondary"
            (click)="insertKey('9')"
        >9</button>
    </div>
</div>
<div class="row">
    <div class="col-4 d-grid mx-auto">
    </div>
    <div class="col-4 d-grid mx-auto">
        <button 
            type="button" 
            class="btn btn-secondary"
            (click)="insertKey('.')"
        >.</button>
    </div>
    <div class="col-4 d-grid mx-auto">
        <button 
            type="button" 
            class="btn btn-secondary"
            (click)="insertKey('0')"
        >0</button>
    </div>
    <div class="col-4 d-grid mx-auto">
        <div class="col-4 d-grid mx-auto">
            <button 
                type="button" 
                class="btn btn-secondary"
                (click)="deleteKey()"
            > <= </button>
        </div>
    </div>
</div>