<div class="container">
    <div class="row p-4">
        <div class="col-2 d-grid mx-auto">
            <button type="button" class="btn btn-outline-dark" (click)="negativeNumber()"> (-) </button>
        </div>
        <div class="col-2 d-grid mx-auto">
            <button type="button" class="btn btn-outline-dark" (click)="temp()"> # </button>
        </div>
        <div class="col-2 d-grid mx-auto">
            <button type="button" class="btn btn-outline-dark" (click)="temp()"> # </button>
        </div>
        <div class="col-2 d-grid mx-auto">
            <button type="button" class="btn btn-outline-dark" (click)="temp()"> # </button>
        </div>
        <div class="col-2 d-grid mx-auto">
            <button type="button" class="btn btn-outline-dark" (click)="temp()"> # </button>
        </div>
        <div class="col-2 d-grid mx-auto">
            <button type="button" class="btn btn-outline-dark" (click)="deleteSentence()"> CE </button>
        </div>
    </div>
    <div class="row">
        <div class="col-9 mx-auto">
            <div class="row m-2">
                <div class="col-4 d-grid mx-auto">
                    <button type="button" class="btn btn-secondary" (click)="insertKey('1')">1</button>
                </div>
                <div class="col-4 d-grid mx-auto">
                    <button type="button" class="btn btn-secondary" (click)="insertKey('2')">2</button>
                </div>
                <div class="col-4 d-grid mx-auto">
                    <button type="button" class="btn btn-secondary" (click)="insertKey('3')">3</button>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-4 d-grid mx-auto">
                    <button type="button" class="btn btn-secondary" (click)="insertKey('4')">4</button>
                </div>
                <div class="col-4 d-grid mx-auto">
                    <button type="button" class="btn btn-secondary" (click)="insertKey('5')">5</button>
                </div>
                <div class="col-4 d-grid mx-auto">
                    <button type="button" class="btn btn-secondary" (click)="insertKey('6')">6</button>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-4 d-grid mx-auto">
                    <button type="button" class="btn btn-secondary" (click)="insertKey('7')">7</button>
                </div>
                <div class="col-4 d-grid mx-auto">
                    <button type="button" class="btn btn-secondary" (click)="insertKey('8')">8</button>
                </div>
                <div class="col-4 d-grid mx-auto">
                    <button type="button" class="btn btn-secondary" (click)="insertKey('9')">9</button>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-4 d-grid mx-auto">
                    <button type="button" class="btn btn-outline-dark" (click)="pointNumber()"> . </button>
                </div>
                <div class="col-4 d-grid mx-auto">
                    <button type="button" class="btn btn-secondary" (click)="insertKey('0')">0</button>
                </div>
                <div class="col-4 d-grid mx-auto">
                    <button type="button" class="btn btn-outline-dark" (click)="deleteKey()"> <i
                            class="bi bi-arrow-left-short"></i> </button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row m-1">
                <button type="button" class="btn btn-primary col-5 d-grid mx-auto" (click)="insertKey('+')"> <i
                        class="bi bi-plus-lg"></i> </button>
                <button type="button" class="btn btn-primary col-5 d-grid mx-auto" (click)="insertKey('-')"> <i
                        class="bi bi-dash-lg"></i> </button>
            </div>
            <div class="row m-1">
                <button type="button" class="btn btn-primary col-5 d-grid mx-auto" (click)="insertKey('*')"> <i
                        class="bi bi-asterisk"></i> </button>
                <button type="button" class="btn btn-primary col-5 d-grid mx-auto" (click)="insertKey('/')"> <i
                        class="bi bi-slash-lg"></i> </button>
            </div>
            <div class="row m-1 align-middle">
                <button type="button col-10" class="btn btn-success" (click)="result()"><br><i
                        class="bi bi-arrow-return-left"></i><br><br></button>
            </div>
        </div>
    </div>
</div>