
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card" style="width: 36rem;">
                <app-display class="card-header"
                    [sentence]="sentence"
                    ></app-display>
                <app-keyboard class="card-body"
                    (sentenceEmiter)="setSentenceOperation($event)"
                    (sentenceSolutionEmiter)="setSentenceSolution($event)"
                    ></app-keyboard>
            </div>
        </div>
        <div class="col-6"></div>
    </div>

</div>